.App {
  text-align: center;
  min-height: 100vh;
  background: #808000; /* fallback for old browsers */
  background: linear-gradient(90deg, rgba(136,136,0,1) 0%, rgba(107,142,35,1) 100%);
  align-items: center
}

.App-header {
  background-color: black;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: olivedrab;
}

#header-h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.random-entry-container {
  border: solid black 5px;
  display: inline-block;
  margin-top: 5px;
  max-height: 30vh;
  min-height: 8vh;
  min-width: 50%;
  max-width: 70%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  overflow: scroll;
  text-overflow: ellipsis;
  white-space: pre;
  position:relative;
}

.skip_icon {
  position:absolute;
  bottom:0;
  right:0;
  width: 25px;
  height: 25px;
}

#text-area-input{
  display: inline-block;
  background: #6b8e23; /* fallback for old browsers */
  border: solid black 3px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

#login {
    border: double black 5px;
    display: inline-block;
    margin-top: 5px;
    max-height: 30vh;
    min-height: 10vh;
    min-width: 50%;
    max-width: 70%;
}

#signup {
    border: double black 5px;
    display: inline-block;
    margin-top: 5px;
    max-height: 30vh;
    min-height: 10vh;
    min-width: 50%;
    max-width: 70%;
}

input {
  background-color: olivedrab;
  border: solid black 2px;
  font-size: 15px;
  border-radius: 10px
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}

.edit_delete_buttons {
  background-color: olivedrab;
  border:solid black 1px;
}