.App {
  text-align: center;
  min-height: 100vh;
  background: #808000; /* fallback for old browsers */
  background: linear-gradient(180deg, #6b8e23, #25310c);
  align-items: center
}

.App-header {
  background-color: black;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: olivedrab;
}

#header-h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.header-link:hover {
  cursor: pointer;
  color: white;
  /* text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; */
}

.random-entry-container {
  border: solid black 5px;
  display: inline-block;
  margin-top: 5px;
  max-height: 30vh;
  min-height: 8vh;
  min-width: 50%;
  max-width: 70%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  overflow: scroll;
  text-overflow: ellipsis;
  white-space: pre;
  position:relative;
  background-color: rgb(99, 130, 47);
  border-radius: 15px;
  padding: 5px;
}

#text-area-input{
  display: inline-block;
  background: #6b8e23; /* fallback for old browsers */
  border: solid black 3px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-width: 50%;
  border-radius: 15px;
  padding: 5px
}

#login {
    border: double black 5px;
    display: inline-block;
    margin-top: 5px;
    max-height: 30vh;
    min-height: 10vh;
    min-width: 50%;
    max-width: 70%;
}

#signup {
    border: double black 5px;
    display: inline-block;
    margin-top: 5px;
    max-height: 30vh;
    min-height: 10vh;
    min-width: 50%;
    max-width: 70%;
}

input {
  background-color: olivedrab;
  border: solid black 2px;
  font-size: 15px;
  border-radius: 10px
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}

.edit_delete_buttons {
  background-color: olivedrab;
  border:solid black 1px;
  border-radius: 15px
}

.submit-buttons {
  border-radius: 10px
}

.tooltip {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: url('./icons/skip.png');
  background-size: 25px 25px
}

.tooltip:active {
  box-shadow: 1px 20px 20px 5px rgba(211,211,211,.1) inset;
  background-size: 25px 25px
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 90px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;
  font-size: 14px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  transition-delay:.75s;
  opacity: 0.8
}

.entry-tile-container {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: 500px 500px 500px;
  margin-left: 40px;
}

.entry-tile {
  border: solid black 5px;
  padding: 3px;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  max-height: 250px;
  overflow: scroll;
  text-overflow: ellipsis;
  position: relative;
  border-radius: 15px;
  background-color: rgb(99, 130, 47)
}

.tile-button-delete {
  margin-right:5px;
  margin-top: 3px;
  border-radius: 30px;
}

.entry-tile:hover, .tile-button-delete:hover, .edit_delete_buttons:hover, .submit-buttons:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.header-link {
  position: absolute;
  font-size: "20px";
}

.nav-container {
  height: 50%%;
  width: 100%;
}